.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-title{
  height: 65px;
}
/* 主要内容区 */
.contain-list{
  flex: 1;
  overflow: auto;
  min-height: 400px;
}
.footer{
  height: 80px;
}
.typo-title{
  flex-grow: 1;
}